<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Platinum welding and fabrication industries.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>We deliver</h4>
                                    <h4 class="subheading">With quality</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We design and fabricate a wide range of reliable products. 
                                        </br>We customize solutions to the unique needs of each client on time, on budget, and to the highest standards.  We pride ourselves on our quality of service, customer commitment and craftsmanship.</br>We specialize in MIG, TIG and MMA welding. We are very flexible in delivering one-offs, limited production run, or a large volume production run, a small welding repair or complex design and fabrication, we can help. We have the expertise and equipment to design and fabricate to your specifications.!</p>
                                </div>
                            </div>
                        </li>
                       
                    </ul>
                </div>
            </div>
        </div>
    </section>