<section id="contact">
        <div class="container">
            <div class="row">
               <div class="col-lg-10 col-lg-offset-1 text-center" style="color: #fec503;">
        <h4><strong>Platinum welding and fabrication inc</strong>
        </h4>
        <p>
          20 Melanie Dr Unit 6<br>Brampton, ON L6T 4K8 , Canada
        </p>
        <ul class="list-unstyled">
          <li><i class="fa fa-phone fa-fw"></i><a href="tel:647-786-2277">(647)786-2277</a>
          +</li>
          <li><i class="fa fa-envelope-o fa-fw"></i><a href="mailto:platinumwelding@gmail.com">platinumwelding@gmail.com</a></li>
        </ul>
        <br>
        <ul class="list-inline">
          <li>
            <a href="https://facebook.com/platinumwelding"><i class="fa fa-facebook fa-fw fa-3x"></i></a>
          </li>
          <li>
            <a href="https://twitter.com/platinumwelding"><i class="fa fa-twitter fa-fw fa-3x"></i></a>
          </li>
        </ul>
      </div>
    </div>

            </div>
          
        </div>
    </section>
